---
import type { FormStateTypes } from '@/src/global/types'
import Button from '../../ui/Button'
import Image, { ImageDataQuery, type ImageDataProps } from '../../ui/image'
import PortableText, { PortableTextQuery, type PortableTextValue } from '../../ui/portable-text'
import PopupWindow from '../../ui/PopupWindow/index.astro'
import Form from './Form'
import CloseButton from '../../ui/PopupWindow/CloseButton.astro'
import { toPlainText } from '@/src/utils/to-plain-text'
import { getLangFromPath, type Language } from '@/src/global/languages'

const lang = getLangFromPath(Astro.url.pathname) as Language

export const Newsletter_Query = `
  _type == "Newsletter" => {
    ${PortableTextQuery('heading')}
    ${PortableTextQuery('subheading')}
    ${PortableTextQuery('paragraph')}
    ctaText,
    ${ImageDataQuery('image')}
    formPopup{
      ${PortableTextQuery('heading')}
      ${PortableTextQuery('paragraph')}
      groupId,
      formState{
        success{
          ${PortableTextQuery('heading')}
          ${PortableTextQuery('paragraph')}
          highlightedSocialMedia[] -> {
            name,
            link,
            iconString,
          },
        },
        error{
          ${PortableTextQuery('heading')}
          ${PortableTextQuery('paragraph')}
        },
      },
    },
  },
`

type Props = {
  index: number
  sectionId?: string
  heading: PortableTextValue
  subheading: PortableTextValue
  paragraph: PortableTextValue
  ctaText: string
  image: ImageDataProps
  formPopup: {
    groupId: string
    heading: PortableTextValue
    paragraph: PortableTextValue
    formState: FormStateTypes
  }
}

const { index, sectionId, heading, subheading, paragraph, ctaText, image, formPopup } = Astro.props

const clientFormStates = {
  success: {
    ...formPopup.formState.success,
    heading: toPlainText(formPopup.formState.success.heading),
    paragraph: toPlainText(formPopup.formState.success.paragraph),
  },
  error: {
    heading: toPlainText(formPopup.formState.error.heading),
    paragraph: toPlainText(formPopup.formState.error.paragraph),
  },
}
---

<section class="Newsletter" id={sectionId}>
  <div class="background">
    <svg width="1366" height="585" viewBox="0 0 1366 585" fill="none" xmlns="http://www.w3.org/2000/svg"
      ><g filter="url(#filter0_f_5978_20704)"
        ><ellipse
          cx="88.3286"
          cy="758.599"
          rx="522.328"
          ry="400.599"
          transform="rotate(-180 88.3286 758.599)"
          fill="#C28AC1"
          fill-opacity="0.4"></ellipse><ellipse
          cx="1277.67"
          cy="847.483"
          rx="522.328"
          ry="400.599"
          transform="rotate(-180 1277.67 847.483)"
          fill="#EAE8FF"></ellipse><ellipse
          cx="1382.57"
          cy="810.363"
          rx="406.576"
          ry="311.637"
          transform="rotate(-180 1382.57 810.363)"
          fill="#FFF1F2"></ellipse><ellipse
          opacity="0.7"
          cx="679.095"
          cy="691.304"
          rx="406.576"
          ry="311.637"
          transform="rotate(-180 679.095 691.304)"
          fill="#DB7C68"></ellipse><ellipse
          opacity="0.7"
          cx="1141.67"
          cy="539.666"
          rx="370.404"
          ry="283.803"
          transform="rotate(-180 1141.67 539.666)"
          fill="#8C484D"></ellipse><ellipse
          cx="894.244"
          cy="656.461"
          rx="370.404"
          ry="283.803"
          transform="rotate(-180 894.244 656.461)"
          fill="#775F89"
          fill-opacity="0.4"></ellipse><ellipse
          cx="130.301"
          cy="772.525"
          rx="450.707"
          ry="345.475"
          transform="rotate(-180 130.301 772.525)"
          fill="#3A7587"
          fill-opacity="0.6"></ellipse><ellipse
          cx="809.924"
          cy="484.366"
          rx="134.561"
          ry="69.3134"
          transform="rotate(-180 809.924 484.366)"
          fill="#FFDD65"></ellipse></g
      ><defs
        ><filter
          id="filter0_f_5978_20704"
          x="-717.591"
          y="-27.7274"
          width="2801.18"
          height="1559.4"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
          ><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"></feBlend><feGaussianBlur stdDeviation="141.795" result="effect1_foregroundBlur_5978_20704"
          ></feGaussianBlur></filter
        ></defs
      ></svg
    >
  </div>
  <div class="wrapper">
    <header class="header">
      <PortableText value={heading} class="heading" heading={index === 0 ? 'h1' : 'h2'} />
      <PortableText value={subheading} class="subheading" heading={index === 0 ? 'h2' : 'h3'} />
      <PortableText value={paragraph} class="paragraph" />
    </header>
    <PopupWindow>
      <Button text={ctaText} theme="primary" slot="open" />
      <div class="container" slot="content">
        <PortableText value={formPopup.heading} class="popup-heading" heading={index === 0 ? 'h2' : 'h3'} />
        <PortableText value={formPopup.paragraph} class="popup-paragraph" />
        <div class="form-wrapper">
          <Form groupId={formPopup.groupId} client:idle lang={lang} formState={clientFormStates} />
        </div>
        <CloseButton />
      </div>
    </PopupWindow>
    <Image
      {...image}
      priority={index === 0}
      sizes="(max-width: 31.1875rem) 94vw, (max-width: 37.4375rem) 80vw, (max-width: 54.875rem) 55vw, (max-width: 60.5625rem) 480px, 438px"
    />
  </div>
</section>

<style lang="scss">
  .Newsletter {
    max-width: 85.375rem;
    margin: 0 auto;
    padding: clamp(3rem, calc(4vw / 0.48), 4rem) var(--pageMargin);
    display: grid;
    place-items: center;
    position: relative;

    .background {
      position: absolute;
      inset: 0;
      z-index: -1;
      overflow: hidden;

      &::before {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-clip: content-box;
        width: 250%;
        height: 250%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='108' height='108' fill='none'%3E%3Cpath fill='%2345051C' d='M36 0H0v108h36V0Z'/%3E%3Cpath fill='%23600D2A' d='M.022 24.453v5.09h35.98v-5.09H.022Zm0 53.998v5.09h35.98v-5.088l-35.98-.002Z'/%3E%3Cpath fill='%23F67258' d='M0 0v6.365A6.36 6.36 0 0 0 4.5 4.5 6.36 6.36 0 0 0 6.348 0H0Zm29.634 0a6.36 6.36 0 0 0 3.93 5.88c.772.32 1.6.485 2.435.485V0h-6.365ZM18 47.633a6.36 6.36 0 0 0-4.5 1.865 6.36 6.36 0 0 0 2.064 10.38 6.36 6.36 0 0 0 6.936-1.38A6.362 6.362 0 0 0 18 47.633Zm-18 54V108h6.348a6.36 6.36 0 0 0-1.848-4.505 6.359 6.359 0 0 0-4.5-1.862Zm36 0A6.359 6.359 0 0 0 29.633 108H36v-6.367Z'/%3E%3Cpath fill='%2345051C' d='M72 0H36.003v108H72V0Z'/%3E%3Cpath fill='%23600D2A' d='M36.018 24.459v5.09h35.98v-5.09h-35.98Zm0 53.997v5.09h35.98v-5.088l-35.98-.002Z'/%3E%3Cpath fill='%23F67258' d='M36.002 0v6.365a6.36 6.36 0 0 0 4.5-1.865A6.36 6.36 0 0 0 42.349 0h-6.347Zm29.634 0a6.36 6.36 0 0 0 3.93 5.88c.771.32 1.599.485 2.435.485V0h-6.365ZM54.001 47.633a6.36 6.36 0 0 0-4.5 1.865 6.36 6.36 0 0 0 2.065 10.38 6.36 6.36 0 0 0 8.316-3.445 6.358 6.358 0 0 0-1.38-6.935 6.361 6.361 0 0 0-4.5-1.865Zm-18 54V108h6.349a6.36 6.36 0 0 0-1.848-4.505 6.358 6.358 0 0 0-4.5-1.862Zm36 0A6.359 6.359 0 0 0 65.636 108h6.365v-6.367Z'/%3E%3Cpath fill='%2345051C' d='M108 0H72v108h36V0Z'/%3E%3Cpath fill='%23600D2A' d='M72.019 24.46v5.09h35.979v-5.09h-35.98Zm0 53.997v5.09h35.979V78.46l-35.98-.002Z'/%3E%3Cpath fill='%23F67258' d='M72 0v6.365A6.36 6.36 0 0 0 76.5 4.5 6.36 6.36 0 0 0 78.35 0H72Zm29.635 0a6.362 6.362 0 0 0 3.929 5.88c.773.32 1.6.485 2.436.485V0h-6.365ZM90 47.633a6.359 6.359 0 0 0-4.5 1.865 6.36 6.36 0 0 0 2.065 10.38 6.36 6.36 0 0 0 6.935-1.38 6.36 6.36 0 0 0-2.064-10.38A6.36 6.36 0 0 0 90 47.632Zm-18 54V108h6.349a6.363 6.363 0 0 0-1.848-4.505 6.359 6.359 0 0 0-4.5-1.862Zm36 0a6.356 6.356 0 0 0-5.881 3.929 6.372 6.372 0 0 0-.484 2.438H108v-6.367Z'/%3E%3C/svg%3E");
      }

      img {
        height: 100%;
        width: 100%;
      }

      > svg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
      }
    }

    .wrapper {
      background: var(--primary-800, #45051c);
      padding: clamp(1.5rem, calc(3.5vw / 0.48), 4rem);
      border-radius: clamp(1rem, calc(1.5vw / 0.48), 1.5rem);
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 2rem;
      grid-template-rows: auto 1fr;
      width: 100%;
      max-width: 69.375rem;
      overflow: hidden;
      .header {
        max-width: 26.4375rem;
        margin: 0.75rem 0 clamp(1.5rem, calc(2.5vw / 0.48), 2.5rem);

        .heading {
          margin-bottom: 1rem;
          font-size: var(--typography-heading-l, 2rem);
          line-height: 0.9;
          letter-spacing: -0.065em;
          color: var(--neutral-400, #ffe4ca);
        }

        .subheading {
          margin-bottom: 1rem;
          line-height: 1;
          letter-spacing: -0.055em;
          color: var(--neutral-400, #ffe4ca);
          font-family: 'PF Grand Gothik', 'PF Grand Gothik Fallback', sans-serif;
          text-transform: uppercase;
          font-weight: 760;
          font-size: var(--typography-heading-s, 1.125rem);
        }

        .paragraph {
          color: var(--primary-200, #e6cbd5);
        }
      }

      :global(.Wrapper) {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-bottom: 0.75rem;
        align-self: end;

        :global(> button):focus-visible {
          outline: 2px solid var(--neutral-200, #ffe4ca);
        }

        :global(.popup-window)::before {
          background: linear-gradient(180deg, rgba(69, 5, 28, 0.6) 0%, rgba(69, 5, 28, 0.9) 100%);
          backdrop-filter: blur(5px);
        }
      }

      > img {
        grid-column: 2/3;
        width: clamp(320px, calc(320vw / 7.68), 438px);
        aspect-ratio: 438/329;
        grid-row: 1/3;
        border-radius: clamp(0.5rem, calc(0.75vw / 0.48), 0.75rem);
      }

      .container {
        border-radius: clamp(1rem, calc(1.5rem / 0.48), 2rem);
        isolation: isolate;
        max-width: 59.75rem;
        padding: 2.5rem 2rem;
        display: grid;
        grid-template-columns: 1fr 24.75rem auto;
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1.5rem;

        .popup-heading,
        .popup-paragraph {
          max-width: 22.75rem;
          grid-column: 1/2;
          justify-self: start;
        }

        .popup-heading {
          grid-row: 1/2;
          font-weight: 700;
          font-family: 'Neue Haas Unica', 'Neue Haas Unica Fallback', sans-serif;
          line-height: 1.25;
          font-size: var(--typography-body-2xl, 1.5rem);
          letter-spacing: -0.04em;
          color: var(--primary-700, #600d2a);
          margin-bottom: clamp(1rem, calc(1vw / 0.48), 1.5rem);
          align-self: end;
        }

        .popup-paragraph {
          font-size: var(--typography-body-xl, 1.125rem);
          grid-row: 2/3;
        }

        .form-wrapper {
          overflow-y: auto;
          grid-column: 2/3;
          max-height: 100%;
          grid-row: 1/3;
          background-color: var(--neutral-100, #faf7f7);
          border-radius: clamp(0.5rem, calc(0.75vw / 0.48), 0.75rem);
          padding: clamp(1rem, calc(2vw / 0.48), 2rem) clamp(1rem, calc(2vw / 0.48), 2rem)
            clamp(1.25rem, calc(2vw / 0.48), 2rem);
          position: relative;
          display: flex;
          flex-direction: column;

          :global(form) {
            :global(label) {
              &:nth-of-type(1) {
                margin-bottom: 1.5rem;
              }

              &:nth-of-type(2) {
                margin-bottom: 1rem;
              }
            }

            :global(button[type='submit']) {
              width: 100%;
              max-width: 100%;

              :global(span) {
                margin: 0 auto;
                padding-right: 1.75rem;
              }
            }

            :global([data-form-state]) {
              position: static;
              padding: 0;
              background-color: var(--neutral-100, #faf7f7);
              align-items: flex-start;
              text-align: start;
              isolation: isolate;
              min-height: 19.8125rem;

              :global(> *:first-child) {
                align-self: flex-start;
              }
            }

            &[data-finished='true'] {
              :global(button[type='submit']),
              :global([role='status']),
              :global(label) {
                display: none;
              }
            }
          }
        }
        :global(.CloseButton) {
          align-self: start;
          grid-column: 3/4;
          grid-row: 1/3;
        }
      }
    }

    @media (max-width: 60.5625rem) {
      .background > svg {
        height: 50%;
        bottom: 0;
        left: 0;
        right: unset;
        top: unset;
      }
      .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        max-width: 38rem;

        .header {
          grid-column: 1/2;
          grid-row: 1/2;
          max-width: 100%;
        }

        :global(.Wrapper) {
          grid-column: 1/2;
          grid-row: 2/3;
          margin-bottom: clamp(2.5rem, calc(3.5vw / 0.48), 3.5rem);
        }

        > img {
          grid-column: 1/2;
          grid-row: 3/4;
          width: 100%;
        }
      }
    }

    @media (max-width: 56.1875rem) {
      .wrapper .container {
        max-width: 38rem;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto 1fr;
        padding: clamp(1.5rem, calc(3.5vw / 0.48), 3.5rem) clamp(1rem, calc(3.5vw / 0.48), 3.5rem);
        column-gap: 2rem;

        .popup-heading {
          grid-column: 1/2;
          grid-row: 1/2;
          max-width: 100%;
        }

        .popup-paragraph {
          grid-column: 1/2;
          grid-row: 2/3;
          max-width: 100%;
        }

        .form-wrapper {
          grid-column: 1/3;
          grid-row: 3/4;
          margin-top: clamp(3rem, calc(4vw / 0.48), 4rem);
        }

        :global(.CloseButton) {
          grid-column: 2/3;
          grid-row: 1/3;
        }
      }
    }

    @media (max-width: 31.1875rem) {
      .wrapper {
        padding: 1.5rem 1.5rem 0;

        :global(.Wrapper) {
          :global(> button) {
            width: 100%;
            max-width: 100%;

            :global(span) {
              margin: 0 auto;
              padding-right: 1.75rem;
            }
          }
        }

        > img {
          width: calc(100% + 3rem);
          max-width: calc(100% + 3rem);
          margin: 0 -1.5rem;
          border-radius: 0.5rem 0.5rem 0 0;
        }

        .container {
          border-radius: 1rem 1rem 0 0;
          padding: 1.5rem 1rem;
          padding-bottom: 0rem;

          &::before,
          &::after {
            border-radius: 1rem 1rem 0 0;
          }

          .form-wrapper {
            width: calc(100% + 2rem);
            margin: 3rem -1rem 0;
            border-radius: 0.5rem 0.5rem 0 0;
          }
        }
      }
    }
  }
</style>
