---
import PortableText, { type PortableTextValue } from '../ui/portable-text'
import Navigation, { Navigation_Query, type NavigationProps } from './Navigation.astro'
import ContentPT, { ContentPT_Query, type Props as ContentPTProps } from './content-pt/index.astro'
import type { Language } from '@/src/global/languages'

const lang = Astro.params.lang as Language

const translations = {
  pl: {
    navHeading: 'W regulaminie znajdziesz:',
  },
  en: {
    navHeading: 'In the terms you will find:',
  },
}
export type ContentProps = NavigationProps & {
  content: ContentPTProps['value']
  heading: PortableTextValue
}

export const Content_Query = `
  "content": {
    ${Navigation_Query}
    ${ContentPT_Query}
  },
`

const { headings, content, heading } = Astro.props as ContentProps
---

<article class="content max-width">
  <Navigation title={translations[lang].navHeading} headings={headings} />
  <PortableText value={heading} class="heading" heading="h1" />
  <div class="content-body">
    <ContentPT value={content} />
  </div>
</article>

<style lang="scss">
  .content {
    display: grid;
    padding: clamp(1rem, calc(2vw / 0.48), 2rem) 0 6rem;
    grid-template-columns: 20.6875rem 1fr;
    column-gap: 7.25rem;

    .heading {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin-bottom: clamp(2.25rem, calc(3vw / 0.48), 3.5rem);
      font-size: var(--typography-heading-l, 2rem);
    }

    .content-body {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      max-width: 41.8125rem;
      justify-self: start;

      > :global(:first-child) {
        margin-top: 0;
      }
      :global(:last-child) {
        margin-bottom: 0;
      }

      :global(li):first-child {
        margin-top: clamp(1rem, calc(1.25vw / 0.48), 1.25rem);
      }

      :global(strong) {
        font-weight: 700;
        color: var(--primary-800, #45051c);
      }

      :global(p),
      :global(ul),
      :global(ol) {
        font-size: var(--typography-body-xl, 1.125rem);
        line-height: 1.5;
        margin-bottom: clamp(0.625rem, calc(0.75vw / 0.48), 0.75rem);
      }

      :global(h2),
      :global(h3) {
        font-family: 'Neue Haas Unica', 'Neue Haas Unica Fallback', sans-serif;
        line-height: 1.5;
        font-variant-numeric: lining-nums proportional-nums;
        color: var(--primary-800, #45051c);
        text-transform: none;
      }

      :global(h2) {
        font-size: var(--typography-body-2xl, 1.5rem);
        margin: 3.5rem 0 clamp(1rem, calc(1.25vw / 0.48), 1.25rem);
        line-height: 1.25;
        letter-spacing: -0.04em;
      }

      :global(h3) {
        font-size: var(--typography-body-xl, 1.125rem);
        line-height: 1.5;
        letter-spacing: -0.03em;
        margin: clamp(2.25rem, calc(3vw / 0.48), 3.5rem) 0 clamp(1rem, calc(1.25vw / 0.48), 1.25rem);
      }
    }
  }
</style>
