---
import Form from './index.tsx'
import Button from '@/src/components/ui/Button/index.ts'
import Loader from '@/components/ui/Loader.astro'
import type { FormStateTypes } from '@/src/global/types'
import PortableText from '@/components/ui/portable-text'

type Props = {
  lang?: 'pl' | 'en'
  state: FormStateTypes
  response: string
  tryAgain: string
}

const { lang = 'pl', response, state, tryAgain } = Astro.props
---

<Form lang={lang} className="Form" client:load>
  <Button theme="primary" id="submit" type="submit">Wyślij Wiadomość</Button>
  <div class="response">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
      ><path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M7.999 1.334a6.667 6.667 0 1 0 0 13.333 6.667 6.667 0 0 0 0-13.333Zm-.515 4.38L6.14 6.783c-.563.448-.845.672-.79.923l.003.012c.062.25.42.345 1.134.536.397.107.596.16.689.31l.005.008c.09.153.038.343-.064.725l-.027.1c-.283 1.057-.425 1.586-.152 1.757.273.17.707-.175 1.576-.867l1.343-1.07c.564-.448.845-.673.79-.923l-.003-.013c-.062-.249-.42-.344-1.134-.536-.397-.106-.595-.16-.689-.31l-.004-.008c-.09-.152-.039-.343.063-.724l.027-.1c.283-1.058.425-1.586.152-1.757-.273-.17-.707.175-1.575.866Z"
        fill="#F67258"></path></svg
    >
    <span>{response}</span>
  </div>
  <Loader class="Loader" />
  <div class="SuccessState">
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
        ><g clip-path="url(#paint0_angular_6347_22027_clip_path)" data-figma-skip-parse="true"
          ><foreignObject
            x="-1581.25"
            y="-1581.25"
            width="3162.51"
            height="3162.51"
            transform="matrix(.00727 .00727 -.00727 .00727 12 12)"
            ><div
              style="background:conic-gradient(from 90deg,#798ddc 0deg,#e7c78f 90deg,#fa7468 266.4deg,#798ddc 360deg);height:100%;width:100%;opacity:1"
            >
            </div></foreignObject
          ></g
        ><path
          d="m13.087 21.388.645.382-.645-.382Zm.542-.916-.646-.382.646.382Zm-3.258 0-.645.382.645-.382Zm.542.916.646-.382-.646.382Zm-8.532-5.475.693-.287-.693.287Zm5.409 3.078-.013.75.013-.75Zm-2.703-.372-.287.693.287-.693Zm16.532-2.706.693.287-.693-.287Zm-5.409 3.078-.012-.75.012.75Zm2.703-.372.287.693-.287-.693Zm.7-15.882-.392.64.392-.64Zm1.65 1.65.64-.391-.64.392ZM4.388 2.738l-.392-.64.392.64Zm-1.651 1.65-.64-.391.64.392ZM9.403 19.21l.377-.649-.377.649Zm4.33 2.56.541-.916-1.29-.764-.543.916 1.291.764Zm-4.007-.916.542.916 1.29-.764-.541-.916-1.291.764Zm2.715.152a.52.52 0 0 1-.882 0l-1.291.764c.773 1.307 2.69 1.307 3.464 0l-1.29-.764ZM10.5 2.75h3v-1.5h-3v1.5Zm10.75 7.75v1h1.5v-1h-1.5Zm-18.5 1v-1h-1.5v1h1.5Zm-1.5 0c0 1.155 0 2.058.05 2.787.05.735.153 1.347.388 1.913l1.386-.574c-.147-.352-.233-.782-.278-1.441-.046-.666-.046-1.51-.046-2.685h-1.5Zm6.553 6.742c-1.256-.022-1.914-.102-2.43-.316L4.8 19.313c.805.334 1.721.408 2.977.43l.026-1.5ZM1.688 16.2A5.75 5.75 0 0 0 4.8 19.312l.574-1.386a4.25 4.25 0 0 1-2.3-2.3l-1.386.574Zm19.562-4.7c0 1.175 0 2.019-.046 2.685-.045.659-.131 1.089-.277 1.441l1.385.574c.235-.566.338-1.178.389-1.913.05-.729.049-1.632.049-2.787h-1.5Zm-5.027 8.241c1.256-.021 2.172-.095 2.977-.429l-.574-1.386c-.515.214-1.173.294-2.428.316l.025 1.5Zm4.704-4.115a4.25 4.25 0 0 1-2.3 2.3l.573 1.386a5.75 5.75 0 0 0 3.112-3.112l-1.386-.574ZM13.5 2.75c1.651 0 2.837 0 3.762.089.914.087 1.495.253 1.959.537l.783-1.279c-.739-.452-1.577-.654-2.6-.752-1.012-.096-2.282-.095-3.904-.095v1.5Zm9.25 7.75c0-1.622 0-2.891-.096-3.904-.097-1.023-.299-1.862-.751-2.6l-1.28.783c.285.464.451 1.045.538 1.96.088.924.089 2.11.089 3.761h1.5Zm-3.53-7.124a4.25 4.25 0 0 1 1.404 1.403l1.279-.783a5.75 5.75 0 0 0-1.899-1.899l-.783 1.28ZM10.5 1.25c-1.622 0-2.891 0-3.904.095-1.023.098-1.862.3-2.6.752l.783 1.28c.464-.285 1.045-.451 1.96-.538.924-.088 2.11-.089 3.761-.089v-1.5ZM2.75 10.5c0-1.651 0-2.837.089-3.762.087-.914.253-1.495.537-1.959l-1.279-.783c-.452.738-.654 1.577-.752 2.6C1.25 7.61 1.25 8.878 1.25 10.5h1.5Zm1.246-8.403a5.75 5.75 0 0 0-1.899 1.899l1.28.783a4.25 4.25 0 0 1 1.402-1.403l-.783-1.279Zm7.02 17.993c-.202-.343-.38-.646-.554-.884a2.229 2.229 0 0 0-.682-.645l-.754 1.297c.047.028.112.078.224.232.121.166.258.396.476.764l1.29-.764Zm-3.24-.349c.44.008.718.014.93.037.198.022.275.054.32.08l.754-1.297c-.293-.17-.598-.24-.909-.274-.298-.033-.657-.038-1.069-.045l-.025 1.5Zm6.498 1.113c.218-.367.355-.598.476-.764.112-.154.177-.204.224-.232l-.754-1.297c-.29.17-.5.395-.682.645-.173.238-.352.54-.555.884l1.291.764Zm1.924-2.612c-.412.007-.771.012-1.069.045-.311.035-.616.104-.909.274l.754 1.297c.045-.026.122-.058.32-.08.212-.023.49-.03.93-.037l-.026-1.5Z"
          data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.47450980544090271,"g":0.55294120311737061,"b":0.86274510622024536,"a":1.0},"position":0.0},{"color":{"r":0.90588235855102539,"g":0.78039216995239258,"b":0.56078433990478516,"a":1.0},"position":0.250},{"color":{"r":0.98039215803146362,"g":0.45490196347236633,"b":0.40784314274787903,"a":1.0},"position":0.74000000953674316},{"color":{"r":0.47450980544090271,"g":0.55294120311737061,"b":0.86274510622024536,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.47450980544090271,"g":0.55294120311737061,"b":0.86274510622024536,"a":1.0},"position":0.0},{"color":{"r":0.90588235855102539,"g":0.78039216995239258,"b":0.56078433990478516,"a":1.0},"position":0.250},{"color":{"r":0.98039215803146362,"g":0.45490196347236633,"b":0.40784314274787903,"a":1.0},"position":0.74000000953674316},{"color":{"r":0.47450980544090271,"g":0.55294120311737061,"b":0.86274510622024536,"a":1.0},"position":1.0}],"transform":{"m00":14.545454978942871,"m01":-14.545410156250,"m02":11.999978065490723,"m10":14.545349121093750,"m11":14.545393943786621,"m12":-2.5454132556915283},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
        ></path><g clip-path="url(#paint1_angular_6347_22027_clip_path)" data-figma-skip-parse="true"
          ><foreignObject
            x="-1868.24"
            y="-1868.24"
            width="3736.49"
            height="3736.49"
            transform="matrix(.00327 .00284 -.00327 .00284 12 10.905)"
            ><div
              style="background:conic-gradient(from 90deg,#798ddc 0deg,#e7c78f 90deg,#fa7468 266.4deg,#798ddc 360deg);height:100%;width:100%;opacity:1"
            >
            </div></foreignObject
          ></g
        ><path
          d="m10.99 14.308.445-.604-.445.604ZM12 8.106l-.536.525a.75.75 0 0 0 1.072 0L12 8.106Zm1.01 6.202-.445-.604.445.604ZM12 14.81v-.75.75Zm-.565-1.106c-.644-.474-1.468-1.147-2.123-1.896-.68-.775-1.062-1.502-1.062-2.093h-1.5c0 1.16.699 2.242 1.433 3.081.758.865 1.679 1.613 2.362 2.116l.89-1.208ZM8.25 9.714c0-1.107.495-1.69 1.003-1.88.518-.194 1.342-.09 2.211.797l1.072-1.05C11.38 6.401 9.955 5.97 8.728 6.428 7.493 6.89 6.75 8.145 6.75 9.715h1.5Zm5.205 5.198c.683-.504 1.604-1.25 2.362-2.116.734-.839 1.433-1.92 1.433-3.081h-1.5c0 .591-.383 1.318-1.062 2.093-.655.749-1.48 1.422-2.123 1.896l.89 1.208Zm3.795-5.197c0-1.57-.743-2.825-1.978-3.287-1.227-.458-2.652-.027-3.808 1.153l1.072 1.05c.869-.888 1.694-.99 2.21-.798.51.19 1.004.774 1.004 1.882h1.5Zm-6.705 5.197c.392.289.83.648 1.455.648v-1.5c-.015 0-.032.003-.101-.035a4.676 4.676 0 0 1-.464-.32l-.89 1.207Zm2.02-1.208c-.243.18-.366.268-.464.321-.07.038-.086.035-.101.035v1.5c.625 0 1.063-.36 1.455-.648l-.89-1.208Z"
          data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.47450980544090271,"g":0.55294120311737061,"b":0.86274510622024536,"a":1.0},"position":0.0},{"color":{"r":0.90588235855102539,"g":0.78039216995239258,"b":0.56078433990478516,"a":1.0},"position":0.250},{"color":{"r":0.98039215803146362,"g":0.45490196347236633,"b":0.40784314274787903,"a":1.0},"position":0.74000000953674316},{"color":{"r":0.47450980544090271,"g":0.55294120311737061,"b":0.86274510622024536,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.47450980544090271,"g":0.55294120311737061,"b":0.86274510622024536,"a":1.0},"position":0.0},{"color":{"r":0.90588235855102539,"g":0.78039216995239258,"b":0.56078433990478516,"a":1.0},"position":0.250},{"color":{"r":0.98039215803146362,"g":0.45490196347236633,"b":0.40784314274787903,"a":1.0},"position":0.74000000953674316},{"color":{"r":0.47450980544090271,"g":0.55294120311737061,"b":0.86274510622024536,"a":1.0},"position":1.0}],"transform":{"m00":6.5454545021057129,"m01":-6.5454344749450684,"m02":11.999990463256836,"m10":5.6802172660827637,"m11":5.6802344322204590,"m12":5.2249355316162109},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
        ></path><defs
          ><clipPath id="paint0_angular_6347_22027_clip_path"
            ><path
              d="m13.087 21.388.645.382-.645-.382Zm.542-.916-.646-.382.646.382Zm-3.258 0-.645.382.645-.382Zm.542.916.646-.382-.646.382Zm-8.532-5.475.693-.287-.693.287Zm5.409 3.078-.013.75.013-.75Zm-2.703-.372-.287.693.287-.693Zm16.532-2.706.693.287-.693-.287Zm-5.409 3.078-.012-.75.012.75Zm2.703-.372.287.693-.287-.693Zm.7-15.882-.392.64.392-.64Zm1.65 1.65.64-.391-.64.392ZM4.388 2.738l-.392-.64.392.64Zm-1.651 1.65-.64-.391.64.392ZM9.403 19.21l.377-.649-.377.649Zm4.33 2.56.541-.916-1.29-.764-.543.916 1.291.764Zm-4.007-.916.542.916 1.29-.764-.541-.916-1.291.764Zm2.715.152a.52.52 0 0 1-.882 0l-1.291.764c.773 1.307 2.69 1.307 3.464 0l-1.29-.764ZM10.5 2.75h3v-1.5h-3v1.5Zm10.75 7.75v1h1.5v-1h-1.5Zm-18.5 1v-1h-1.5v1h1.5Zm-1.5 0c0 1.155 0 2.058.05 2.787.05.735.153 1.347.388 1.913l1.386-.574c-.147-.352-.233-.782-.278-1.441-.046-.666-.046-1.51-.046-2.685h-1.5Zm6.553 6.742c-1.256-.022-1.914-.102-2.43-.316L4.8 19.313c.805.334 1.721.408 2.977.43l.026-1.5ZM1.688 16.2A5.75 5.75 0 0 0 4.8 19.312l.574-1.386a4.25 4.25 0 0 1-2.3-2.3l-1.386.574Zm19.562-4.7c0 1.175 0 2.019-.046 2.685-.045.659-.131 1.089-.277 1.441l1.385.574c.235-.566.338-1.178.389-1.913.05-.729.049-1.632.049-2.787h-1.5Zm-5.027 8.241c1.256-.021 2.172-.095 2.977-.429l-.574-1.386c-.515.214-1.173.294-2.428.316l.025 1.5Zm4.704-4.115a4.25 4.25 0 0 1-2.3 2.3l.573 1.386a5.75 5.75 0 0 0 3.112-3.112l-1.386-.574ZM13.5 2.75c1.651 0 2.837 0 3.762.089.914.087 1.495.253 1.959.537l.783-1.279c-.739-.452-1.577-.654-2.6-.752-1.012-.096-2.282-.095-3.904-.095v1.5Zm9.25 7.75c0-1.622 0-2.891-.096-3.904-.097-1.023-.299-1.862-.751-2.6l-1.28.783c.285.464.451 1.045.538 1.96.088.924.089 2.11.089 3.761h1.5Zm-3.53-7.124a4.25 4.25 0 0 1 1.404 1.403l1.279-.783a5.75 5.75 0 0 0-1.899-1.899l-.783 1.28ZM10.5 1.25c-1.622 0-2.891 0-3.904.095-1.023.098-1.862.3-2.6.752l.783 1.28c.464-.285 1.045-.451 1.96-.538.924-.088 2.11-.089 3.761-.089v-1.5ZM2.75 10.5c0-1.651 0-2.837.089-3.762.087-.914.253-1.495.537-1.959l-1.279-.783c-.452.738-.654 1.577-.752 2.6C1.25 7.61 1.25 8.878 1.25 10.5h1.5Zm1.246-8.403a5.75 5.75 0 0 0-1.899 1.899l1.28.783a4.25 4.25 0 0 1 1.402-1.403l-.783-1.279Zm7.02 17.993c-.202-.343-.38-.646-.554-.884a2.229 2.229 0 0 0-.682-.645l-.754 1.297c.047.028.112.078.224.232.121.166.258.396.476.764l1.29-.764Zm-3.24-.349c.44.008.718.014.93.037.198.022.275.054.32.08l.754-1.297c-.293-.17-.598-.24-.909-.274-.298-.033-.657-.038-1.069-.045l-.025 1.5Zm6.498 1.113c.218-.367.355-.598.476-.764.112-.154.177-.204.224-.232l-.754-1.297c-.29.17-.5.395-.682.645-.173.238-.352.54-.555.884l1.291.764Zm1.924-2.612c-.412.007-.771.012-1.069.045-.311.035-.616.104-.909.274l.754 1.297c.045-.026.122-.058.32-.08.212-.023.49-.03.93-.037l-.026-1.5Z"
            ></path></clipPath
          ><clipPath id="paint1_angular_6347_22027_clip_path"
            ><path
              d="m10.99 14.308.445-.604-.445.604ZM12 8.106l-.536.525a.75.75 0 0 0 1.072 0L12 8.106Zm1.01 6.202-.445-.604.445.604ZM12 14.81v-.75.75Zm-.565-1.106c-.644-.474-1.468-1.147-2.123-1.896-.68-.775-1.062-1.502-1.062-2.093h-1.5c0 1.16.699 2.242 1.433 3.081.758.865 1.679 1.613 2.362 2.116l.89-1.208ZM8.25 9.714c0-1.107.495-1.69 1.003-1.88.518-.194 1.342-.09 2.211.797l1.072-1.05C11.38 6.401 9.955 5.97 8.728 6.428 7.493 6.89 6.75 8.145 6.75 9.715h1.5Zm5.205 5.198c.683-.504 1.604-1.25 2.362-2.116.734-.839 1.433-1.92 1.433-3.081h-1.5c0 .591-.383 1.318-1.062 2.093-.655.749-1.48 1.422-2.123 1.896l.89 1.208Zm3.795-5.197c0-1.57-.743-2.825-1.978-3.287-1.227-.458-2.652-.027-3.808 1.153l1.072 1.05c.869-.888 1.694-.99 2.21-.798.51.19 1.004.774 1.004 1.882h1.5Zm-6.705 5.197c.392.289.83.648 1.455.648v-1.5c-.015 0-.032.003-.101-.035a4.676 4.676 0 0 1-.464-.32l-.89 1.207Zm2.02-1.208c-.243.18-.366.268-.464.321-.07.038-.086.035-.101.035v1.5c.625 0 1.063-.36 1.455-.648l-.89-1.208Z"
            ></path></clipPath
          ></defs
        ></svg
      >
    </div>
    <PortableText value={state.success.heading} class="heading" />
    <PortableText value={state.success.paragraph} class="paragraph" />
    <ul class="socials">
      {
        state.success.highlightedSocialMedia.map(({ link, iconString, name }) => (
          <li>
            <a href={link} target="_blank" rel="noreferrer">
              <Fragment set:html={iconString} />
              <span>{name}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="ErrorState">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
      ><path
        d="m13.087 21.388.645.382-.645-.382Zm.542-.916-.646-.382.646.382Zm-3.258 0-.645.382.645-.382Zm.542.916.646-.382-.646.382Zm-8.532-5.475.693-.287-.693.287Zm5.409 3.078-.013.75.013-.75Zm-2.703-.372-.287.693.287-.693Zm16.532-2.706.693.287-.693-.287Zm-5.409 3.078-.012-.75.012.75Zm2.703-.372.287.693-.287-.693Zm.7-15.882-.392.64.392-.64Zm1.65 1.65.64-.391-.64.392ZM4.388 2.738l-.392-.64.392.64Zm-1.651 1.65-.64-.391.64.392ZM9.403 19.21l.377-.649-.377.649Zm4.33 2.56.541-.916-1.29-.764-.543.916 1.291.764Zm-4.007-.916.542.916 1.29-.764-.541-.916-1.291.764Zm2.715.152a.52.52 0 0 1-.882 0l-1.291.764c.773 1.307 2.69 1.307 3.464 0l-1.29-.764ZM10.5 2.75h3v-1.5h-3v1.5Zm10.75 7.75v1h1.5v-1h-1.5Zm-18.5 1v-1h-1.5v1h1.5Zm-1.5 0c0 1.155 0 2.058.05 2.787.05.735.153 1.347.388 1.913l1.386-.574c-.147-.352-.233-.782-.278-1.441-.046-.666-.046-1.51-.046-2.685h-1.5Zm6.553 6.742c-1.256-.022-1.914-.102-2.43-.316L4.8 19.313c.805.334 1.721.408 2.977.43l.026-1.5ZM1.688 16.2A5.75 5.75 0 0 0 4.8 19.312l.574-1.386a4.25 4.25 0 0 1-2.3-2.3l-1.386.574Zm19.562-4.7c0 1.175 0 2.019-.046 2.685-.045.659-.131 1.089-.277 1.441l1.385.574c.235-.566.338-1.178.389-1.913.05-.729.049-1.632.049-2.787h-1.5Zm-5.027 8.241c1.256-.021 2.172-.095 2.977-.429l-.574-1.386c-.515.214-1.173.294-2.428.316l.025 1.5Zm4.704-4.115a4.25 4.25 0 0 1-2.3 2.3l.573 1.386a5.75 5.75 0 0 0 3.112-3.112l-1.386-.574ZM13.5 2.75c1.651 0 2.837 0 3.762.089.914.087 1.495.253 1.959.537l.783-1.279c-.739-.452-1.577-.654-2.6-.752-1.012-.096-2.282-.095-3.904-.095v1.5Zm9.25 7.75c0-1.622 0-2.891-.096-3.904-.097-1.023-.299-1.862-.751-2.6l-1.28.783c.285.464.451 1.045.538 1.96.088.924.089 2.11.089 3.761h1.5Zm-3.53-7.124a4.25 4.25 0 0 1 1.404 1.403l1.279-.783a5.75 5.75 0 0 0-1.899-1.899l-.783 1.28ZM10.5 1.25c-1.622 0-2.891 0-3.904.095-1.023.098-1.862.3-2.6.752l.783 1.28c.464-.285 1.045-.451 1.96-.538.924-.088 2.11-.089 3.761-.089v-1.5ZM2.75 10.5c0-1.651 0-2.837.089-3.762.087-.914.253-1.495.537-1.959l-1.279-.783c-.452.738-.654 1.577-.752 2.6C1.25 7.61 1.25 8.878 1.25 10.5h1.5Zm1.246-8.403a5.75 5.75 0 0 0-1.899 1.899l1.28.783a4.25 4.25 0 0 1 1.402-1.403l-.783-1.279Zm7.02 17.993c-.202-.343-.38-.646-.554-.884a2.229 2.229 0 0 0-.682-.645l-.754 1.297c.047.028.112.078.224.232.121.166.258.396.476.764l1.29-.764Zm-3.24-.349c.44.008.718.014.93.037.198.022.275.054.32.08l.754-1.297c-.293-.17-.598-.24-.909-.274-.298-.033-.657-.038-1.069-.045l-.025 1.5Zm6.498 1.113c.218-.367.355-.598.476-.764.112-.154.177-.204.224-.232l-.754-1.297c-.29.17-.5.395-.682.645-.173.238-.352.54-.555.884l1.291.764Zm1.924-2.612c-.412.007-.771.012-1.069.045-.311.035-.616.104-.909.274l.754 1.297c.045-.026.122-.058.32-.08.212-.023.49-.03.93-.037l-.026-1.5Z"
        fill="#AA0B50"></path><path d="m14 8-4 4m0-4 4 4" stroke="#AA0B50" stroke-width="1.5" stroke-linecap="round"
      ></path>
    </svg>
    <PortableText value={state.error.heading} class="heading" />
    <PortableText value={state.error.paragraph} class="paragraph" />
    <Button type="button" className="tryAgain" theme="primary">{tryAgain}</Button>
  </div>
</Form>
<style lang="scss">
  .Form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 32.5rem;
    padding: 2.25rem;
    overflow: hidden;
    background: var(--neutral-200, #f5f1ec);
    align-items: stretch;
    border-radius: clamp(8px, calc(12vw / 7.68), 12px);
    position: relative;

    &::before {
      position: absolute;
      z-index: 3;
      inset: 0;
      display: none;
      content: '';
      background-color: rgba(245, 241, 236, 0.3);
      border-radius: 0.5rem;
      backdrop-filter: blur(0.25rem);
    }

    :global(#submit) {
      width: 100%;
      max-width: 100%;
      margin-top: 1rem;

      :global(span) {
        margin: 0 auto;
        padding-right: 1.75rem;
      }
    }

    :global(label) {
      margin-bottom: 1.25rem;

      &:nth-of-type(2) {
        z-index: 10;
      }

      &:nth-of-type(3) {
        margin-bottom: 0.75rem;
      }

      &:nth-of-type(4) {
        margin-bottom: 0;
      }
    }

    .response {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.375rem;
      margin-top: 0.375rem;
      font-size: var(--typography-body-m, 0.875rem);
      line-height: 1.7;
      letter-spacing: -0.01em;
    }

    &[data-status='success'],
    &[data-status='error'] {
      &::before {
        display: grid;
      }
    }

    .ErrorState,
    .SuccessState {
      position: absolute;
      z-index: 5;
      inset: 0;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      padding: 2.25rem;
      background: var(--neutral-200, #f5f1ec);
      animation: fadeInState 250ms;

      @keyframes fadeInState {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .heading {
        margin-bottom: 1.5rem;
        color: var(--primary-700, #600d2a);
        font-size: var(--typography-body-2xl, 24px);
        font-weight: 700;
        line-height: 1.25;
        letter-spacing: -0.04em;
      }

      .paragraph {
        font-size: var(--typography-body-xl, 18px);
        line-height: 1.5;
      }
    }
    .Loader {
      display: none;
    }

    .SuccessState {
      display: none;
      align-items: center;
      text-align: center;

      .icon {
        display: grid;
        place-items: center;
        align-self: center;
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 1.5rem;
        background: var(--neutral-100, #faf7f7);
        border-radius: 50%;
      }

      .socials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        margin-top: auto;
        padding-top: 1rem;
        border-top: 0.0625rem solid var(--neutral-300, #ede6de);

        li {
          position: relative;
          padding: 0.125rem;
          transition: transform 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

          &::before,
          &::after {
            position: absolute;
            z-index: -1;
            inset: 0.125rem;
            content: '';
            background: var(--neutral-100, #faf7f7);
            border-radius: 0.625rem;
          }

          &::after {
            z-index: -2;
            inset: 0;
            background: conic-gradient(
              from 135deg at 50% 50%,
              #798ddc 0deg,
              #e7c78f 90deg,
              #fa7468 266.40000343322754deg,
              #798ddc 360deg
            );
            border-radius: 0.75rem;
          }

          a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.375rem;
            min-height: 2.75rem;
            overflow: hidden;
            color: var(--primary-800, #45051c);
            font-size: var(--typography-body-m, 14px);
            font-weight: 700;
            line-height: 1.7;
            border-radius: clamp(8px, calc(12vw / 7.68), 12px);

            :global(svg),
            span {
              transition: transform 300ms var(--easing);
            }

            &::before {
              position: absolute;
              z-index: -1;
              content: '';
              width: 120%;
              aspect-ratio: 1;
              background-color: var(--primary-800, #45051c);
              border-radius: 50%;
              transform: scale(0);
              transition: transform 450ms var(--easing);
            }

            &:hover {
              color: var(--neutral-100, #faf7f7);
              &::before {
                transform: scale(1);
              }
            }
            &:focus:not(:focus-visible) {
              :global(svg) {
                transform: translateX(-0.125rem) scale(1.1);
              }

              span {
                transform: translateX(-0.125rem);
              }
            }
          }
        }
      }
    }

    .ErrorState {
      display: none;

      svg {
        margin-bottom: 2rem;
      }

      :global(button) {
        width: 100%;
        max-width: 100%;
        margin-top: auto;

        :global(span) {
          margin: 0 auto;
          padding-right: 1.75rem;
        }
      }
    }

    &[data-status='success'],
    &[data-status='error'] {
      :global(> label),
      button[type='submit'],
      .response,
      :global(div[data-is-phone='true']) {
        display: none;
      }
    }

    &[data-status='loading'] {
      .Loader {
        display: grid;
      }
    }

    &[data-status='error'] {
      .ErrorState {
        display: flex;
      }
    }

    &[data-status='success'] {
      .SuccessState {
        display: flex;
      }
    }

    @media (max-width: 1069px) {
      padding: clamp(0.75rem, calc(4vw / 0.48), 4rem) clamp(0.5rem, calc(5vw / 0.48), 5rem);
      margin-bottom: clamp(1rem, calc(1vw / 0.48), 1rem);

      > :global(label),
      :global(#submit) {
        width: 100%;
        max-width: 28rem;
        margin-right: auto;
        margin-left: auto;
      }

      .SuccessState,
      .ErrorState {
        left: 50%;
        width: 100%;
        max-width: 28rem;
        margin-right: auto;
        margin-left: auto;
        transform: translateX(-50%);
      }
    }

    @media (max-width: 459px) {
      min-height: 27.5rem;
      padding: clamp(0.75rem, calc(1.25vw / 0.48), 1.25rem) clamp(0.5rem, calc(1.25vw / 0.48), 1.25rem);

      > :global(label),
      :global(#submit) {
        max-width: 100%;
      }
    }
  }
</style>

<script>
  document.querySelectorAll<HTMLDivElement>('.ContactForm').forEach((section) => {
    section.querySelector<HTMLButtonElement>('.tryAgain')!.addEventListener('click', () => {
      document.dispatchEvent(new CustomEvent('contact:try-again'))
    })
  })
</script>
