---
import CaseStudyCard from '../components/ui/CaseStudyCard.astro'
import CategoryBlock, { CategoryBlockQuery } from '../components/ui/CategoryBlock.astro'
import { ImageDataQuery, type ImageDataProps } from '../components/ui/image'
import { getLangFromPath, type Language } from '../global/languages'
import sanityFetch from '../utils/sanity.fetch'
import Button from '../components/ui/Button'
import CartLink from '../components/ui/CartLink.astro'
import LanguageSwitcher from '../components/ui/LanguageSwitcher.astro'

type Props = {
  minify?: boolean
}

const language = (getLangFromPath(Astro.url.pathname) as Language) || 'pl'

const translations = {
  pl: {
    activities: 'Integracje firmowe',
    activitiesUrl: '/pl/integracje/',
    showActivitiesLg: 'Sprawdź wszystkie integracje',
    showActivitiesSm: 'Wszystkie integracje',
    hotels: 'Hotele dla firm',
    hotelsUrl: '/pl/hotele/',
    caseStudies: 'Realizacje',
    caseStudiesUrl: '/pl/realizacje/',
    showCaseStudiesLg: 'Zobacz wszystkie realizacje',
    showCaseStudiesSm: 'Wszystkie realizacje',
    defaultUrl: '/pl/',
    logoLabel: 'Przejdź do strony głównej',
    skipLink: 'Przejdź do treści głównej',
    openMenu: 'Menu',
    closeMenu: 'Zamknij menu',
    minify: 'Otrzymaj wycenę bez spamu i nachalnej sprzedaży',
    contactUrl: '/pl/kontakt/',
    contactText: 'Skontaktuj się',
    languageLabel: 'Zmień język',
  },
  en: {
    activities: 'Team activities',
    activitiesUrl: '/en/activities',
    showActivitiesLg: 'See all activities',
    showActivitiesSm: 'All activities',
    hotels: 'Company hotels',
    hotelsUrl: '/en/hotels/',
    caseStudies: 'Case studies',
    caseStudiesUrl: '/en/case-studies/',
    showCaseStudiesLg: 'See all case studies',
    showCaseStudiesSm: 'All case studies',
    defaultUrl: '/en/',
    logoLabel: 'Visit Homepage',
    skipLink: 'Skip to main content',
    openMenu: 'Menu',
    closeMenu: 'Close menu',
    minify: 'Get the estimate without spam and aggressive sales',
    contactUrl: '/en/contact/',
    contactText: 'Contact us',
    languageLabel: 'Change language',
  },
}
const t = translations[language]

const data = await sanityFetch<{
  highlightedActivities: {
    slug: string
    name: string
    description: {
      short: string
    }
    image: ImageDataProps
    referenceCount: number
  }[]
  highlightedCaseStudies: {
    slug: string
    name: string
    primaryImage: ImageDataProps
    secondaryImage: ImageDataProps
  }[]
}>({
  query: `
   *[_type == "navbar" && language == $language][0]{
    highlightedCaseStudies[] -> {
        "slug": slug.current,
        name,
        ${ImageDataQuery('primaryImage')}
        ${ImageDataQuery('secondaryImage')}
    },
    highlightedActivities[] -> {
        ${CategoryBlockQuery}
    }
  }
`,
  params: { language },
})

const { minify = false } = Astro.props as Props
---

<a class="skip-link" href="#main">{t.skipLink}</a>

<header class="header" data-element="LayoutHeader" data-minify={minify}>
  <div class="container">
    <button class="open-menu">
      <span class="box">
        <span></span>
        <span></span>
        <span></span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"
          ><circle cx="9.9974" cy="10.0003" r="8.33333" stroke="#F67258"></circle><path
            stroke="#F67258"
            stroke-linecap="round"
            d="M12.0807 7.91701 7.91406 12.0837m-.00002-4.16671 4.16666 4.16661"></path></svg
        >
      </span>
      <span class="text"><span>{t.openMenu}</span><span>{t.closeMenu}</span></span>
    </button>
    <a href={t.defaultUrl} class="logo" aria-label={t.logoLabel}
      ><svg viewBox="0 0 103 32" fill="none" xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M28.122 11.669h4.487v1.735h-4.487v3.198h-2.349V8.286h8.904v1.709h-6.555v1.674ZM32 16.602l5.197-8.316h2.488l5.24 8.316h-2.628l-.815-1.393h-6.1l-.814 1.393H32Zm6.441-6.52-2.086 3.506h4.163l-2.086-3.505h.009ZM54.158 12.116c.236.052.455.14.666.271.201.132.385.28.543.456.158.175.28.368.368.587.088.22.132.447.132.693 0 .394-.07.744-.202 1.051-.14.307-.333.56-.605.771-.271.21-.596.368-.999.482a5.151 5.151 0 0 1-1.402.175h-7.3V8.286h7.361c.421 0 .798.044 1.131.132.333.087.622.219.859.385.236.167.42.386.552.631.131.254.193.543.193.859 0 .202-.027.394-.088.578a2.12 2.12 0 0 1-.254.509c-.114.148-.245.289-.412.394a2.324 2.324 0 0 1-.552.28v.053l.009.009Zm-6.441-2.104v1.429h4.346c.15 0 .29-.018.412-.053a.903.903 0 0 0 .307-.14.661.661 0 0 0 .184-.228.752.752 0 0 0 .061-.315.588.588 0 0 0-.07-.29.717.717 0 0 0-.49-.35 1.727 1.727 0 0 0-.386-.044h-4.373l.009-.009Zm0 3.024v1.823h4.434c.219 0 .412-.018.578-.062.158-.044.29-.096.395-.166a.602.602 0 0 0 .227-.28 1.077 1.077 0 0 0 .009-.78.592.592 0 0 0-.228-.281 1.37 1.37 0 0 0-.394-.175 2.174 2.174 0 0 0-.578-.07h-4.443v-.01ZM66.867 11.861a2.328 2.328 0 0 1-.438.72c-.193.218-.42.402-.692.56-.272.158-.57.28-.912.368l2.507 3.093h-2.63l-2.252-2.909h-3.172v2.91H56.93V8.285h6.73c.473 0 .92.053 1.332.167.412.114.771.28 1.069.508.307.228.535.517.701.859.167.341.245.736.245 1.191 0 .307-.052.596-.148.86l.008-.01Zm-7.589-1.866v2.033h4.102c.201 0 .385-.018.543-.061a1.03 1.03 0 0 0 .403-.202.8.8 0 0 0 .245-.324c.053-.132.08-.272.08-.42a1.12 1.12 0 0 0-.08-.439.858.858 0 0 0-.245-.315 1.338 1.338 0 0 0-.403-.202 2.044 2.044 0 0 0-.544-.07h-4.1ZM73.702 16.602h-2.401v-2.655l-4.934-5.66h2.7l3.434 4.1 3.436-4.1h2.707l-4.942 5.625v2.7-.01ZM88.922 8.524c-.175.149-.394.333-.648.543-.254.21-.526.447-.824.692-.298.254-.57.482-.824.701-.254.22-.464.395-.63.544-.167.149-.263.219-.28.228 0 .017.07.105.174.262.106.158.254.36.439.614.184.254.385.534.604.85l.675.964c.228.324.456.648.683.955.228.307.43.596.605.841.175.254.324.456.438.614.114.157.176.245.193.263H86.82s-.052-.07-.131-.193a10.53 10.53 0 0 0-.307-.456c-.131-.184-.272-.386-.438-.622a90.52 90.52 0 0 1-.5-.719c-.166-.245-.341-.482-.508-.71-.166-.227-.315-.429-.438-.613a12.237 12.237 0 0 1-.316-.456c-.078-.122-.122-.175-.13-.175-.018 0-.097.062-.229.175-.14.123-.306.263-.517.439-.21.175-.438.368-.683.57-.246.2-.474.393-.684.569-.21.175-.385.324-.534.447-.15.122-.22.184-.228.184v1.542h-2.34V8.261h2.34v4.399l5.047-4.4h2.962l-.28.237.017.027Z"
          fill="#45051C"></path><path
          d="m89.04 16.602 5.196-8.316h2.488l5.241 8.316h-2.63l-.814-1.393h-6.1l-.814 1.393h-2.568Zm6.44-6.52-2.086 3.506h4.163l-2.086-3.505h.01ZM24.797 26.964l5.197-8.316h2.488l5.24 8.316h-2.628l-.815-1.394h-6.1l-.814 1.394h-2.568Zm6.432-6.52-2.085 3.505h4.162l-2.086-3.505h.01ZM41.367 26.964H39v-6.608H35.18v-1.709h9.937v1.71h-3.76v6.607h.01ZM55.54 22.223a2.331 2.331 0 0 1-.44.719c-.192.218-.42.403-.691.56-.272.158-.57.28-.912.368l2.507 3.094h-2.63l-2.252-2.91H47.95v2.91h-2.348v-8.316h6.73c.473 0 .92.052 1.332.166.412.114.77.28 1.069.508.307.228.534.517.7.859.167.342.246.736.246 1.192 0 .307-.052.596-.149.859l.01-.01Zm-7.59-1.867v2.033h4.101c.202 0 .386-.017.544-.061.157-.044.289-.105.403-.201a.8.8 0 0 0 .245-.325c.053-.131.079-.271.079-.42 0-.167-.026-.316-.079-.439a.856.856 0 0 0-.245-.315 1.336 1.336 0 0 0-.403-.202 2.043 2.043 0 0 0-.544-.07h-4.1Z"
          fill="#45051C"></path><path
          d="m55.844 26.964 5.196-8.316h2.49l5.24 8.316h-2.63l-.814-1.394h-6.1l-.815 1.394h-2.567Zm6.44-6.52L60.2 23.949h4.163l-2.086-3.505h.009ZM79.024 18.88c-.175.15-.394.333-.648.543-.255.21-.526.447-.824.693-.298.254-.57.482-.824.7-.254.22-.464.395-.63.544-.167.15-.264.22-.281.228 0 .017.07.105.175.263.105.158.254.36.438.613.184.254.386.535.605.85.219.316.447.64.675.964.227.325.455.649.683.956.228.306.43.595.605.84.175.255.324.456.438.614.114.158.175.245.193.263H76.92s-.053-.07-.132-.193a10.655 10.655 0 0 0-.306-.455c-.132-.184-.272-.386-.439-.623a92.39 92.39 0 0 1-.499-.718c-.166-.246-.342-.482-.508-.71-.167-.228-.316-.43-.438-.613a12.207 12.207 0 0 1-.316-.456c-.079-.123-.123-.175-.131-.175-.018 0-.097.06-.228.175-.14.122-.307.263-.517.438-.21.175-.438.368-.684.57-.245.201-.473.394-.683.57l-.535.446c-.149.123-.219.184-.228.184v1.543h-2.34v-8.317h2.34v4.4l5.048-4.4h2.962l-.28.237.017.026Z"
          fill="#45051C"></path><path
          d="M88.227 21.688a5.862 5.862 0 0 0-.745-.552 5.554 5.554 0 0 0-.859-.412 6.114 6.114 0 0 0-.929-.254 4.971 4.971 0 0 0-.955-.088c-.307 0-.605.027-.894.07a3.747 3.747 0 0 0-1.48.57 2.296 2.296 0 0 0-.527.482 2.34 2.34 0 0 0-.341.613 1.95 1.95 0 0 0-.123.728c0 .394.088.736.263 1.034.175.298.42.543.727.745.307.201.675.35 1.096.455.42.106.876.15 1.367.15.394 0 .762-.027 1.095-.08.342-.052.666-.14.964-.245.298-.114.587-.245.85-.403.263-.158.508-.333.745-.517 0 0 .035.035.088.114.052.079.114.175.192.29.08.113.158.236.255.367.096.132.175.245.254.368.079.114.149.21.201.29.061.078.088.113.079.113a6.004 6.004 0 0 1-1.954 1.104 8.836 8.836 0 0 1-2.91.473c-.911 0-1.717-.105-2.427-.297-.71-.193-1.306-.465-1.788-.824a3.546 3.546 0 0 1-1.095-1.306c-.246-.508-.368-1.095-.368-1.744 0-.429.061-.832.184-1.218.123-.385.307-.745.534-1.069a4.604 4.604 0 0 1 1.945-1.542 6.852 6.852 0 0 1 1.342-.412c.482-.096.99-.149 1.542-.149.596 0 1.14.044 1.621.131.482.088.92.202 1.315.342.394.15.745.316 1.051.526.307.21.587.43.824.666-.114.149-.21.29-.298.394-.088.114-.175.228-.272.35-.096.124-.184.246-.271.36-.08.114-.15.21-.21.28a.439.439 0 0 0-.088.123v-.026ZM99.416 22.651c0 .771-.123 1.446-.36 1.998a3.66 3.66 0 0 1-.998 1.385c-.43.368-.947.63-1.552.806a7.49 7.49 0 0 1-1.989.254c-.648 0-1.235-.07-1.752-.201a5.1 5.1 0 0 1-1.385-.579 3.654 3.654 0 0 1-1.008-.929 4.088 4.088 0 0 1-.622-1.27l2.033-.894c.088.36.22.666.386.929.175.263.385.482.622.648.237.167.5.29.789.368.289.08.595.114.92.114.42 0 .78-.061 1.095-.175a2.15 2.15 0 0 0 .789-.508c.21-.22.377-.482.482-.798.105-.315.157-.657.157-1.034v-4.127h2.402v4.013h-.01ZM100.562 18.648h2.367v8.316h-2.367v-8.316Z"
          fill="#45051C"></path><g clip-path="url(#a)"
          ><path
            d="M7.38 8.198a.473.473 0 0 0-.47.447L6.72 11.71a.479.479 0 0 0 .47.517l4.688-.876a.479.479 0 0 0 .47-.517l-.188-2.19a.473.473 0 0 0-.47-.447H7.38Z"
            fill="url(#b)"></path><path
            d="M6.926 14.427a.473.473 0 0 0-.47.447l-.223 2.654a.479.479 0 0 0 .47.517l5.664.876a.479.479 0 0 0 .47-.517l-.222-3.53a.473.473 0 0 0-.47-.447H6.925Z"
            fill="url(#c)"></path><path
            d="M6.439 21.12a.473.473 0 0 0-.47.447l-.223 3.53a.479.479 0 0 0 .47.518l6.638-.876a.479.479 0 0 0 .47-.517l-.222-2.655a.473.473 0 0 0-.47-.447H6.439Z"
            fill="url(#d)"></path><path
            d="m5.48 28.26-.196 2.708a.479.479 0 0 0 .47.517h7.554a.479.479 0 0 0 .47-.517l-.197-2.707a.473.473 0 0 0-.47-.447H5.95a.473.473 0 0 0-.47.447Z"
            fill="url(#e)"></path><path
            d="M9.048 4.448c.154.044.316.062.479.062.162 0 .325-.027.479-.062a1.985 1.985 0 0 0 1.471-1.936c0-1.104-.873-1.997-1.95-1.997-1.078 0-1.95.893-1.95 1.997 0 .938.624 1.717 1.47 1.936Z"
            fill="url(#f)"></path><path
            d="M4.326 15.05a1.923 1.923 0 0 0-2.66-.737c-.933.552-1.25 1.77-.719 2.734a1.94 1.94 0 0 0 2.669.735 2.008 2.008 0 0 0 .907-2.233 2.017 2.017 0 0 0-.197-.5Z"
            fill="url(#g)"></path><path
            d="M17.396 14.138a1.874 1.874 0 0 0-.872-.263 1.955 1.955 0 0 0-2.027 1.674c-.129.797.222 1.629.95 2.058.931.552 2.13.228 2.668-.736a2.026 2.026 0 0 0-.718-2.733Z"
            fill="url(#h)"></path><path
            d="M.973 8.811a1.93 1.93 0 0 0 2.669-.727c.538-.955.222-2.181-.71-2.733a1.93 1.93 0 0 0-2.67.727c-.538.955-.222 2.181.71 2.733Z"
            fill="url(#i)"></path><path
            d="M18.08 8.636c.933-.552 1.25-1.778.71-2.733a1.93 1.93 0 0 0-2.668-.728c-.932.552-1.249 1.779-.71 2.734a1.93 1.93 0 0 0 2.669.727Z"
            fill="url(#j)"></path></g
        ><defs
          ><linearGradient id="b" x1="9.527" y1=".515" x2="10.74" y2="31.437" gradientUnits="userSpaceOnUse"
            ><stop stop-color="#FA7468"></stop><stop offset=".245" stop-color="#F86E6D"></stop><stop
              offset=".5"
              stop-color="#E7C78F"></stop><stop offset=".75" stop-color="#9EC5A8"></stop><stop
              offset="1"
              stop-color="#798DDC"></stop></linearGradient
          ><linearGradient id="c" x1="9.527" y1=".515" x2="10.74" y2="31.437" gradientUnits="userSpaceOnUse"
            ><stop stop-color="#FA7468"></stop><stop offset=".245" stop-color="#F86E6D"></stop><stop
              offset=".5"
              stop-color="#E7C78F"></stop><stop offset=".75" stop-color="#9EC5A8"></stop><stop
              offset="1"
              stop-color="#798DDC"></stop></linearGradient
          ><linearGradient id="d" x1="9.527" y1=".515" x2="10.74" y2="31.437" gradientUnits="userSpaceOnUse"
            ><stop stop-color="#FA7468"></stop><stop offset=".245" stop-color="#F86E6D"></stop><stop
              offset=".5"
              stop-color="#E7C78F"></stop><stop offset=".75" stop-color="#9EC5A8"></stop><stop
              offset="1"
              stop-color="#798DDC"></stop></linearGradient
          ><linearGradient id="e" x1="9.527" y1=".515" x2="10.74" y2="31.437" gradientUnits="userSpaceOnUse"
            ><stop stop-color="#FA7468"></stop><stop offset=".245" stop-color="#F86E6D"></stop><stop
              offset=".5"
              stop-color="#E7C78F"></stop><stop offset=".75" stop-color="#9EC5A8"></stop><stop
              offset="1"
              stop-color="#798DDC"></stop></linearGradient
          ><linearGradient id="f" x1="9.527" y1=".515" x2="10.74" y2="31.437" gradientUnits="userSpaceOnUse"
            ><stop stop-color="#FA7468"></stop><stop offset=".245" stop-color="#F86E6D"></stop><stop
              offset=".5"
              stop-color="#E7C78F"></stop><stop offset=".75" stop-color="#9EC5A8"></stop><stop
              offset="1"
              stop-color="#798DDC"></stop></linearGradient
          ><linearGradient id="g" x1="9.527" y1=".515" x2="10.74" y2="31.437" gradientUnits="userSpaceOnUse"
            ><stop stop-color="#FA7468"></stop><stop offset=".245" stop-color="#F86E6D"></stop><stop
              offset=".5"
              stop-color="#E7C78F"></stop><stop offset=".75" stop-color="#9EC5A8"></stop><stop
              offset="1"
              stop-color="#798DDC"></stop></linearGradient
          ><linearGradient id="h" x1="9.527" y1=".515" x2="10.74" y2="31.437" gradientUnits="userSpaceOnUse"
            ><stop stop-color="#FA7468"></stop><stop offset=".245" stop-color="#F86E6D"></stop><stop
              offset=".5"
              stop-color="#E7C78F"></stop><stop offset=".75" stop-color="#9EC5A8"></stop><stop
              offset="1"
              stop-color="#798DDC"></stop></linearGradient
          ><linearGradient id="i" x1="9.527" y1=".515" x2="10.74" y2="31.437" gradientUnits="userSpaceOnUse"
            ><stop stop-color="#FA7468"></stop><stop offset=".245" stop-color="#F86E6D"></stop><stop
              offset=".5"
              stop-color="#E7C78F"></stop><stop offset=".75" stop-color="#9EC5A8"></stop><stop
              offset="1"
              stop-color="#798DDC"></stop></linearGradient
          ><linearGradient id="j" x1="9.527" y1=".515" x2="10.74" y2="31.437" gradientUnits="userSpaceOnUse"
            ><stop stop-color="#FA7468"></stop><stop offset=".245" stop-color="#F86E6D"></stop><stop
              offset=".5"
              stop-color="#E7C78F"></stop><stop offset=".75" stop-color="#9EC5A8"></stop><stop
              offset="1"
              stop-color="#798DDC"></stop></linearGradient
          ><clipPath id="a"><path fill="#fff" transform="translate(0 .515)" d="M0 0h19.058v30.97H0z"></path></clipPath
          ></defs
        ></svg
      ></a
    >
    {
      !minify && (
        <nav class="navigation">
          <div class="item" data-tab="activities">
            <button type="button" class="item-button">
              <span>{t.activities}</span>
              <div class="svg-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="none">
                  <path
                    d="m9.969 4.75-3.5 3-3.5-3"
                    stroke="#74535E"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="none">
                  <path
                    d="m9.969 4.75-3.5 3-3.5-3"
                    stroke="#74535E"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </button>
            <div class="item-expand">
              <div>
                <a href={t.activitiesUrl} class="show-all">
                  <span class="wrapper">
                    <span class="box">
                      <span class="svg-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none">
                          <path
                            d="M4.164 10.5h10.833m-4.166-5 4.41 4.41a.833.833 0 0 1 0 1.18l-4.41 4.41"
                            stroke="#F67258"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none">
                          <path
                            d="M4.164 10.5h10.833m-4.166-5 4.41 4.41a.833.833 0 0 1 0 1.18l-4.41 4.41"
                            stroke="#F67258"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </span>
                      <span class="scale" />
                    </span>

                    <span class="text">{t.showActivitiesLg}</span>
                  </span>
                </a>
                <nav class="list">
                  {data.highlightedActivities?.map((activity) => (
                    <CategoryBlock
                      {...activity}
                      imageConfig={{
                        sizes:
                          '(max-width: 49.9375rem) 76px, (max-width: 56.1875rem) 124px, (max-width: 79.3215rem) 23vw, 212px',
                        loading: 'lazy',
                        fetchPriority: 'auto',
                      }}
                    />
                  ))}
                </nav>
                <Button theme="primary" text={t.showActivitiesSm} href={t.activitiesUrl} />
              </div>
            </div>
          </div>
          <a class="nav-link" href={t.hotelsUrl}>
            {t.hotels}
          </a>
          <div class="item" data-tab="case-study">
            <button class="item-button">
              <span>{t.caseStudies}</span>
              <span class="svg-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="none">
                  <path
                    d="m9.969 4.75-3.5 3-3.5-3"
                    stroke="#74535E"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="none">
                  <path
                    d="m9.969 4.75-3.5 3-3.5-3"
                    stroke="#74535E"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </button>
            <div class="item-expand">
              <div>
                <a href={t.caseStudiesUrl} class="show-all">
                  <span class="wrapper">
                    <span class="box">
                      <span class="svg-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none">
                          <path
                            d="M4.164 10.5h10.833m-4.166-5 4.41 4.41a.833.833 0 0 1 0 1.18l-4.41 4.41"
                            stroke="#F67258"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none">
                          <path
                            d="M4.164 10.5h10.833m-4.166-5 4.41 4.41a.833.833 0 0 1 0 1.18l-4.41 4.41"
                            stroke="#F67258"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </span>
                      <span class="scale" />
                    </span>

                    <span class="text">{t.showCaseStudiesLg}</span>
                  </span>
                </a>
                <nav class="list">
                  {data.highlightedCaseStudies?.map(({ slug, primaryImage, secondaryImage, name }) => (
                    <CaseStudyCard
                      title={name}
                      primaryImage={{
                        src: primaryImage,
                        loading: 'lazy',
                      }}
                      secondaryImage={{
                        src: secondaryImage,
                        loading: 'lazy',
                      }}
                      imageSizes="(max-width: 49.9375rem) 88px, (max-width: 56.1875rem) 45vw, (max-width: 79.3215rem) 23vw, 204px"
                      slug={slug}
                    />
                  ))}
                </nav>
                <Button theme="primary" text={t.showCaseStudiesSm} href={t.caseStudiesUrl} />
              </div>
            </div>
          </div>
          <a class="nav-link nav-link-green" href={t.contactUrl}>
            {t.contactText}
          </a>
          <CartLink inverted />
          <LanguageSwitcher inverted />
        </nav>
      )
    }
    {
      minify && (
        <div class="minify">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" fill="none">
            <path
              fill="#F67258"
              fill-rule="evenodd"
              d="M13.3 7A5.833 5.833 0 1 1 1.633 7a5.833 5.833 0 0 1 11.666 0ZM9.816 5.232c.171.171.171.448 0 .619L6.901 8.768a.437.437 0 0 1-.62 0L5.116 7.6a.438.438 0 0 1 .619-.619l.857.858 1.304-1.304 1.303-1.304c.171-.17.448-.17.62 0Z"
              clip-rule="evenodd"
            />
          </svg>
          <p>{t.minify}</p>
        </div>
      )
    }
    {
      !minify && (
        <div class="languages-container">
          <LanguageSwitcher />
          <CartLink />
        </div>
      )
    }
    <div class="overlay" data-variant="desktop" aria-hidden="true"></div>
    <div class="overlay" data-variant="mobile" aria-hidden="true"></div>
  </div>
</header>

<style lang="scss">
  .skip-link {
    position: fixed;
    top: 2.5rem;
    left: 2.5rem;
    z-index: 110;
    padding: 0.75rem 1.5rem;
    border-radius: 16px;
    background: none;
    color: var(--primary-800);
    font-size: var(--typography-body-m, 0.875rem);
    opacity: 0;
    pointer-events: none;
    isolation: isolate;

    &::before,
    &::after {
      content: '';
      position: absolute;
      inset: -0.125rem;
      z-index: -2;
      border-radius: 16px;
      background: conic-gradient(
        from 135deg at 50% 50%,
        #798ddc 0deg,
        #e7c78f 90deg,
        #fa7468 266.40000343322754deg,
        #798ddc 360deg
      );
    }

    &::after {
      inset: 0;
      z-index: -1;
      background: var(--neutral-100);
    }

    &:focus-visible {
      opacity: 1;
      pointer-events: auto;
      outline: 0.125rem solid var(--neutral-600);
    }
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: clamp(0.25rem, calc(0.5vw / 0.48), 0.75rem) clamp(1rem, calc(2vw / 0.48), 2rem)
      clamp(0.25rem, calc(0.5vw / 0.48), 0.75rem) clamp(0.375rem, calc(2vw / 0.48), 2rem);
    border-bottom: 0.125rem solid;
    border-image: linear-gradient(270deg, #798ddc 0%, #e7c78f 25%, #fa7468 74%, #798ddc 100%) 1;
    background-color: var(--neutral-100);
    isolation: isolate;
    transition: background-color 100ms;

    &[data-active='true'] {
      @media (min-width: 41.25rem) {
        background-color: var(--neutral-200);
      }
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: calc(85.375rem - 2 * var(--pageMargin));
      margin: 0 auto;

      .open-menu {
        position: relative;
        z-index: 3;
        display: none;
        align-items: center;
        min-height: 2.75rem;
        gap: 0.375rem;

        &::before {
          content: '';
          position: absolute;
          inset: -0.125rem -0.25rem -0.125rem -0.3125rem;
          z-index: -1;
          border-radius: 999px;
          background-color: var(--neutral-100);
        }

        .box {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 2.5rem;
          height: 2.5rem;
          gap: 0.1875rem;
          border-radius: 50%;
          background: var(--neutral-200, #f5f1ec);
          span {
            display: block;
            width: 0.875rem;
            height: 0.0625rem;
            background: var(--primary-500, #f67258);
            transition: transform 400ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
          }

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1.25rem;
            height: 1.25rem;
            transform: translate(-50%, -50%) rotate(-180deg) scale(0);
            transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
          }
        }
        .text {
          position: relative;
          overflow: hidden;
          padding-right: 0.25rem;
          color: var(--primary-700, #600d2a);
          font-size: var(--typography-body-s, 0.75rem);
          line-height: 1.6;
          letter-spacing: -0.01em;
          transition: transform 300ms var(--easing);
          span {
            display: block;
            transition: transform 300ms var(--easing);
            &:nth-of-type(1) {
              position: absolute;
              top: 50%;
              left: 0%;
              width: max-content;
              transform: translateY(-50%);
            }
            &:nth-of-type(2) {
              transform: translateX(-120%);
            }
          }
        }

        &:hover {
          .text {
            transform: translateX(-0.0625rem);
          }
          .box {
            span {
              &:nth-of-type(1) {
                transform: translateY(-0.125rem) scale(1.2);
              }

              &:nth-of-type(2) {
                transform: scale(1.2);
              }

              &:nth-of-type(3) {
                transform: translateY(0.125rem) scale(1.2);
              }
            }
          }
        }
      }

      .logo {
        position: relative;
        z-index: 3;
        display: grid;
        place-items: center;
        min-height: 2.75rem;
        svg {
          width: 6.4375rem;
          height: auto;
        }
      }

      .navigation {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        .item-button,
        .nav-link {
          display: flex;
          align-items: center;
          min-height: 2.75rem;
          color: var(--primary-700, #600d2a);
          font-size: var(--typography-body-m, 0.875rem);
          line-height: 1.7;
          letter-spacing: -0.01em;
        }

        .item {
          .item-button {
            position: relative;
            overflow: hidden;
            padding-left: 0.25rem;
            gap: 0.25rem;
            border-radius: 0.25rem;
            isolation: isolate;

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              right: 0%;
              z-index: -1;
              width: 1.0625rem;
              height: 1.0625rem;
              border-radius: 50%;
              transform: translateY(calc(-50% + 0.0625rem)) scale(0);
              transition: transform 400ms var(--easing);
            }

            svg {
              padding-left: 0.0094rem;
              transition: transform 400ms var(--easing);
              &:nth-of-type(2) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -150%) scale(0.1);
              }
            }

            .svg-box {
              position: relative;
              display: grid;
              place-items: center;
              width: 1.0625rem;
              height: 1.0625rem;
              margin-top: 0.125rem;
              overflow: hidden;
            }

            &:hover {
              &::before {
                transform: translateY(calc(-50% + 0.0625rem)) scale(1);
              }
              .svg-box {
                svg {
                  &:nth-of-type(1) {
                    transform: translateY(150%);
                  }

                  &:nth-of-type(2) {
                    transform: translate(-50%, -50%);
                    transition: transform 350ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
                  }
                }
              }
            }

            &:focus-visible {
              border-radius: 0.25rem;
            }

            @media (max-width: 49.9375rem) {
              width: 100%;
              justify-content: space-between;
              padding-left: 0.25rem;
              margin-left: -0.25rem;
            }
          }

          .item-expand {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: auto;
            width: 100%;
            padding: 2rem;
            border-bottom: 0.125rem solid;
            border-image: linear-gradient(270deg, #798ddc 0%, #e7c78f 25%, #fa7468 74%, #798ddc 100%) 1;
            background: var(--neutral-200, #f5f1ec);
            transform: translateY(-0.5rem);
            filter: blur(10px);
            opacity: 0;
            visibility: hidden;
            transition:
              transform 300ms var(--easing),
              opacity 200ms,
              visibility 200ms,
              filter 200ms;

            > div {
              display: flex;
              align-items: center;
              justify-content: space-between;
              max-width: calc(85.375rem - 2 * var(--pageMargin));
              margin: 0 auto;

              .show-all {
                position: relative;
                align-self: stretch;
                max-width: 13.5rem;
                border-radius: 0.25rem;
                background-color: var(--neutral-200);
                text-align: center;
                isolation: isolate;

                &::before,
                &::after {
                  content: '';
                  position: absolute;
                  inset: -0.125rem;
                  z-index: -2;
                  border-radius: 0.25rem;
                  background: conic-gradient(
                    from 135deg at 50% 50%,
                    #798ddc 0deg,
                    #e7c78f 90deg,
                    #fa7468 266.40000343322754deg,
                    #798ddc 360deg
                  );
                }

                &::after {
                  inset: 0;
                  z-index: -1;
                  background: var(--neutral-200, #f5f1ec);
                }

                .wrapper {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  padding: clamp(1rem, calc(1vw / 0.48), 2rem) clamp(1.25rem, calc(1.25vw / 0.48), 2rem);
                  gap: 1rem;
                  overflow: hidden;

                  .box {
                    position: relative;
                    isolation: isolate;
                    .svg-box {
                      position: relative;
                      z-index: 2;
                      display: grid;
                      place-items: center;
                      overflow: hidden;
                      min-width: 2.75rem;
                      aspect-ratio: 1;
                      border-radius: 50%;
                      background: var(--neutral-400, #ffe4ca);

                      svg {
                        width: 1.25rem;
                        height: 1.25rem;

                        &:nth-of-type(1) {
                          transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.1);
                        }

                        &:nth-of-type(2) {
                          position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-200%, -50%) rotate(90deg) scale(0.5);
                          transition: transform 300ms var(--easing);
                        }
                      }
                    }
                    .scale {
                      position: absolute;
                      inset: 0;
                      z-index: 1;
                      border-radius: 50%;
                      background: var(--primary-800, #45051c);
                      transform: scale(0);
                      transition: transform 575ms var(--easing);
                    }
                  }

                  .text {
                    z-index: 5;
                    color: var(--primary-800, #45051c);
                    font-weight: 700;
                    transition:
                      transform 300ms var(--easing),
                      color 150ms;
                  }
                }

                &:hover {
                  .wrapper {
                    .box {
                      .svg-box {
                        svg {
                          &:nth-of-type(1) {
                            transform: translateX(150%);
                            transition: transform 300ms var(--easing);
                          }

                          &:nth-of-type(2) {
                            transform: translate(-50%, -50%);
                            transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
                          }
                        }
                      }
                    }

                    .text {
                      transform: translateY(-0.125rem);
                    }
                  }
                }

                &:focus:not(:focus-visible) {
                  .wrapper {
                    .box {
                      .scale {
                        transform: scale(12);
                      }
                    }

                    .text {
                      color: var(--neutral-200, #f5f1ec);
                    }
                  }
                }

                &:focus-visible {
                  outline-offset: 0.375rem;
                }
              }

              .list {
                display: flex;

                :global(.CategoryBlock) {
                  max-width: 13.5rem;
                  :global(.title) {
                    :global(.text) {
                      font-size: var(--typography-body-l, 1rem);
                    }
                  }

                  :global(.description) {
                    font-size: var(--typography-body-m, 0.875rem);
                  }
                }

                :global(.CaseStudyCard) {
                  max-width: 13.5rem;

                  > :global(a) {
                    height: 100%;
                    :global(.img-container) {
                      height: 7.625rem;
                    }

                    :global(.text) {
                      font-size: var(--typography-body-l, 1rem);
                    }
                  }
                }
              }

              & > * {
                &:last-child {
                  display: none;
                }
              }

              @media (max-width: 79.3125rem) {
                flex-direction: column;
                align-items: center;

                .show-all {
                  align-self: center;
                  width: 100%;
                  max-width: 100%;
                  margin-bottom: 2rem;

                  .wrapper {
                    flex-direction: row;
                    justify-content: space-between;
                    .box {
                      order: 2;
                      .scale {
                        display: none;
                      }
                    }

                    .text {
                      order: 1;
                    }
                  }

                  &:focus:not(:focus-visible) {
                    .wrapper {
                      .text {
                        color: var(--primary-800, #45051c);
                      }
                    }
                  }
                }

                .list {
                  :global(.CategoryBlock) {
                    max-width: 100%;
                  }

                  :global(.CaseStudyCard) {
                    max-width: 100%;
                    > :global(a) {
                      > :global(.img-container) {
                        height: auto;
                        aspect-ratio: 344/194.3;
                      }
                    }
                  }
                }
              }
              @media (max-width: 56.1875rem) {
                .list {
                  :global(.CategoryBlock) {
                    display: grid;
                    grid-template-columns: clamp(6rem, calc(7vw / 0.48), 8rem) 1fr;
                    grid-template-rows: auto 1fr;
                    gap: 1rem;
                    max-width: 100%;
                    row-gap: 0;

                    :global(.wrapper) {
                      grid-column: 1/2;
                      grid-row: 1/3;
                      align-self: start;
                    }

                    :global(.title) {
                      grid-column: 2/3;
                      grid-row: 1/2;
                      align-self: center;
                    }

                    :global(.description) {
                      grid-column: 2/3;
                      grid-row: 2/3;
                    }
                  }
                }
              }
              @media (max-width: 49.9375rem) {
                .list {
                  width: 100%;
                  :global(.CategoryBlock) {
                    display: grid;
                    grid-template-columns: clamp(5rem, calc(5vw / 0.48), 6rem) 1fr;
                    grid-template-rows: auto;
                    gap: 0.625rem;
                    max-width: 100%;
                    position: relative;
                    padding-right: 0.5rem;
                    border-radius: 999px 64px 64px 999px;
                    background-color: var(--neutral-100);
                    :global(.wrapper) {
                      grid-column: 1/2;
                      grid-row: 1/2;
                      align-self: start;
                      margin-bottom: 0;
                    }

                    :global(.title) {
                      grid-column: 2/3;
                      grid-row: 1/2;
                      align-self: center;

                      :global(.text) {
                        display: block;
                        margin-right: 0;
                        font-size: var(--typography-body-m, 0.875rem);
                      }

                      :global(.count) {
                        position: absolute;
                        bottom: 0.25rem;
                        left: 3.375rem;
                        transform: scale(0.8);
                      }
                    }

                    :global(.description) {
                      display: none;
                    }
                  }

                  :global(.CaseStudyCard) {
                    > :global(a) {
                      display: grid;
                      grid-template-columns: 1fr auto;
                      gap: 0.375rem;
                      padding: 0;
                      background-color: transparent;
                      :global(.img-container) {
                        grid-column: 2/3;
                        grid-row: 1/2;
                        width: 100%;
                        max-width: 5.5rem;
                        aspect-ratio: 58/32;
                      }

                      :global(.text) {
                        grid-column: 1/2;
                        grid-row: 1/2;
                        display: block;
                        align-self: center;
                        width: 100%;
                        padding: 0;
                        overflow: hidden;
                        font-size: var(--typography-body-s, 0.75rem);
                        :global(span) {
                          display: -webkit-box;
                          -webkit-box-orient: vertical;
                          -webkit-line-clamp: 2;
                          text-align: start;
                          text-overflow: ellipsis;
                        }
                      }
                    }
                  }
                }
              }
            }

            @media (max-width: 49.9375rem) {
              position: static;
              max-height: 0;
              padding: 0;
              overflow: hidden;
              border-bottom: none;
              transition:
                transform 350ms cubic-bezier(0.18, 0.89, 0.32, 1.2),
                opacity 150ms,
                visibility 150ms,
                filter 150ms;

              > div {
                .show-all {
                  display: none;
                }

                & > * {
                  &:last-child {
                    display: flex;
                    margin-top: 1rem;
                  }
                }
              }
            }
          }
          &[data-tab][data-active='true'] {
            .item-button {
              &::before {
                transform: translateY(calc(-50% + 0.0625rem)) scale(16);
                transition: transform 450ms var(--easing);
              }

              .svg-box {
                svg {
                  &:nth-of-type(1) {
                    transform: rotate(180deg);
                  }

                  &:nth-of-type(2) {
                    transform: translate(-50%, -150%) scale(0.1) rotate(180deg);
                  }
                }
              }

              &:hover {
                .svg-box {
                  svg {
                    &:nth-of-type(1) {
                      transform: translateY(150%) rotate(180deg);
                    }

                    &:nth-of-type(2) {
                      transform: translate(-50%, -50%) rotate(180deg);
                    }
                  }
                }
              }

              @media (max-width: 49.9375rem) {
                &::before {
                  transform: translateY(calc(-50% + 0.0625rem)) scale(43);
                }
              }

              @media (max-width: 29.3125rem) {
                &::before {
                  transition: transform 600ms var(--easing);
                }
              }
            }

            .item-expand {
              transform: translateY(0);
              filter: blur(0px);
              opacity: 1;
              visibility: visible;

              @media (max-width: 49.9375rem) {
                display: block;
                max-height: 100%;
                padding: 0.5rem 0.25rem 0;
                margin: 0 -0.25rem;
                opacity: 1;
                visibility: visible;
              }
            }
          }

          &[data-tab='activities'] {
            .item-button::before {
              background-color: #d0e0ff;
            }

            .item-expand > div > .list {
              display: flex;
              align-items: flex-start;
              gap: 1rem;
            }

            @media (max-width: 56.1875rem) {
              .item-expand > div > .list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
              }
            }

            @media (max-width: 49.9375rem) {
              .item-expand > div > .list {
                grid-template-columns: 1fr;
                gap: 0.375rem;
              }
            }
          }

          &[data-tab='case-study'] {
            .item-button {
              &::before {
                background-color: #ffbcba;
              }
            }

            &[data-active='true'] {
              .item-button {
                &::before {
                  transition-duration: 600ms;
                }
              }
            }

            .item-expand > div > .list {
              display: flex;
              align-items: stretch;
              gap: 0.5rem;
            }

            @media (max-width: 79.3125rem) {
              .item-expand > div > .list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
              }
            }

            @media (max-width: 56.1875rem) {
              .item-expand > div > .list {
                grid-template-columns: repeat(2, 1fr);
              }
            }

            @media (max-width: 49.9375rem) {
              .item-expand > div > .list {
                grid-template-columns: 1fr;
                gap: 0.5rem;
                margin-top: 0;
              }
            }
          }
        }

        :global(.cart) {
          display: none;
        }

        :global(.language-switcher) {
          display: none;
        }
      }

      .languages-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        > :global(.language-switcher) {
          flex-shrink: 0;
        }
        > :global(.cart) {
          position: relative;
          z-index: 3;
        }
      }

      .minify {
        display: flex;
        align-items: flex-start;
        font-size: var(--typography-body-m, 0.875rem);
        line-height: 1.7;
        letter-spacing: -0.01em;
        gap: 0.5rem;
        max-width: clamp(17rem, calc(22vw / 0.48), 22rem);
        padding: 0.5rem 0;

        svg {
          margin-top: 4px;
          flex-shrink: 0;
        }
      }

      .nav-link {
        position: relative;
        isolation: isolate;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: -1;
          width: 110%;
          height: 100%;
          border-radius: 0.25rem;
          background-color: #ffecbc;
          transform: translate(-50%, -50%) scaleX(0) scaleY(0.05);
          transform-origin: bottom;
          transition: transform 400ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
        }

        &:hover {
          &::before {
            transform: translate(-50%, -50%) scaleX(1) scaleY(0.05);
          }
        }

        &:focus:not(:focus-visible) {
          &::before {
            transform: translate(-50%, -50%) scaleX(1) scaleY(1);
          }
        }

        &:focus-visible {
          border-radius: 0.25rem;
        }

        &.nav-link-green {
          &::before {
            background-color: #b7eeca;
          }
        }
      }
    }

    .overlay {
      position: fixed;
      inset: 0;
      background-color: rgba(237, 230, 222, 0.25);
      backdrop-filter: blur(6px);
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 200ms,
        visibility 200ms;

      &[aria-hidden='false'] {
        opacity: 1;
        visibility: visible;
      }

      &[data-variant='desktop'] {
        top: 10%;
      }
    }

    @media (max-width: 49.9375rem) {
      padding-left: clamp(0.4375rem, calc(0.75vw / 0.48), 0.75rem);
      padding-right: clamp(1rem, calc(1.25vw / 0.48), 1.25rem);

      &[data-minify='true'] {
      }
      &[data-minify='false'] {
        .container {
          position: relative;

          > .languages-container {
            > :global(.language-switcher) {
              display: none;
            }
          }
          .logo {
            position: absolute;
            bottom: 0.0625rem;
            left: 50%;
            z-index: 5;
            transform: translateX(-50%);
          }
          .open-menu {
            display: flex;
          }
          .navigation {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 250;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 0.75rem;
            width: 100%;
            max-width: clamp(18.5rem, calc(30.75vw / 0.48), 25rem);
            height: 100vh;
            padding: 4rem 1rem 2rem;
            overflow-y: auto;
            border-right: 0.125rem solid;
            border-image: linear-gradient(0deg, #798ddc 0%, #e7c78f 25%, #fa7468 74%, #798ddc 100%) 1;
            background: var(--neutral-200, #f5f1ec);
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;
            transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            transition:
              opacity 100ms,
              visibility 100ms,
              transform 250ms var(--easing);

            .nav-link {
              &::before {
                width: 100%;
                transition: transform 400ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
              }
            }

            :global(.cart) {
              display: flex;
              gap: 0.5rem;
              padding-top: 0.25rem;
              border-top: 0.0625rem solid var(--neutral-300, #ede6de);
              margin-top: 1.25rem;
            }

            :global(.language-switcher) {
              display: block;
            }
          }
        }
        &[data-mobile-open='true'] {
          .container {
            .logo {
              z-index: -1;
            }

            :global(.cart) {
              z-index: -1;
            }

            .open-menu {
              z-index: 300;
              .box {
                span {
                  transform: scale(0);
                }
                svg {
                  transform: translate(-50%, -50%) rotate(0deg) scale(1);
                }
              }
              .text {
                span {
                  &:nth-of-type(1) {
                    transform: translate(280%, -50%);
                  }
                  &:nth-of-type(2) {
                    transform: translateX(0%);
                    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.1);
                  }
                }
              }

              &:hover {
                .box {
                  span {
                    transform: scale(0);
                  }
                }
              }
            }
            .navigation {
              transform: translateX(0);
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
    @media (max-width: 34.3125rem) {
      &[data-minify='true'] {
        padding-left: 1rem;
        padding-right: 1rem;
        .container {
          grid-template-columns: repeat(2, auto);
          display: grid;
          justify-content: space-between;
          row-gap: 0.25rem;

          .logo {
            grid-column: 1 / 2;
            justify-self: start;
          }
          :global(.cart) {
            grid-column: 2 / 3;
            justify-self: end;
          }
          .minify {
            max-width: 18rem;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            padding: 0;
          }
        }
      }
    }
  }
</style>

<script>
  const header = document.querySelector('.header[data-element="LayoutHeader"]')!
  const menuButton = header.querySelector('.open-menu')!
  const expandItems = header.querySelectorAll('.navigation .item[data-tab]')
  const mobileOverlay = header.querySelector('.overlay[data-variant="mobile"]')!
  const desktopOverlay = header.querySelector('.overlay[data-variant="desktop"]')!

  function closeExpandItems(forceClose: boolean = true) {
    expandItems.forEach((item) => {
      item.setAttribute('data-active', 'false')
    })
    if (header.getAttribute('data-mobile-open') === 'true' && !forceClose) return
    header.setAttribute('data-mobile-open', 'false')
    mobileOverlay.setAttribute('aria-hidden', 'true')
    desktopOverlay.setAttribute('aria-hidden', 'true')
    header.setAttribute('data-active', 'false')
  }

  menuButton.addEventListener('click', () => {
    const isCurrentlyOpened = header.getAttribute('data-mobile-open') === 'true'
    if (isCurrentlyOpened) {
      closeExpandItems()
    } else {
      header.setAttribute('data-mobile-open', 'true')
      mobileOverlay.setAttribute('aria-hidden', 'false')
    }
  })

  expandItems.forEach((item) => {
    const button = item.querySelector('button.item-button')!
    button.addEventListener('click', () => {
      const isCurrentlyActive = item.getAttribute('data-active') === 'true'
      expandItems.forEach((otherItem) => {
        otherItem.setAttribute('data-active', 'false')
      })
      if (!isCurrentlyActive) {
        item.setAttribute('data-active', 'true')
        desktopOverlay.setAttribute('aria-hidden', 'false')
        header.setAttribute('data-active', 'true')
      } else {
        closeExpandItems(false)
        header.setAttribute('data-active', 'false')
      }
    })
  })
  ;[mobileOverlay, desktopOverlay].forEach((overlay) => {
    overlay.addEventListener('click', () => {
      closeExpandItems()
    })
  })
  document.addEventListener('keydown', (event) => {
    if (event.key === 'Escape') closeExpandItems()
  })

  window.addEventListener('resize', () => {
    const isItemOpened = Array.from(expandItems).some((item) => item.getAttribute('data-active') === 'true')
    const isMobileOpen = header.getAttribute('data-mobile-open') === 'true'
    const isDesktopView = window.innerWidth > 659
    if ((isDesktopView && isMobileOpen) || (!isDesktopView && isItemOpened && !isMobileOpen)) closeExpandItems()
  })
</script>
